<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django + Vue 專案</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
    <div id="app">
        <h1>歡迎來到 Django Vue 整合專案</h1>
        <h1>所有使用者</h1>
        <ul>
            {% for user in users %}
                <li>{{ user.username }} - {{ user.role }}</li>
            {% endfor %}
        </ul>
    </div>
    
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>